*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: montRegular;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: montBold;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
  font-family: montMedium;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: montMediumItalic;
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

body {
  font-family: montMedium;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #000000;
}

h1 {
  color: #b95c5c;
  font-size: 64px;
}
h3.tagline {
  color: #696969;
  font-size: 42px;
}
/*Remove borders etc from buttons*/
.btn {
  display: inline-block;
  border: none;
  text-align: center;
  transition: background 250ms ease-in-out transform 1500ms ease;
}
.join-btn {
  font-family: montBold;
  background-color: #b95c5c;
  font-size: 2rem;
  color: #ffffff;
  width: 202px;
  height: 81px;
}

button.join-btn:hover,
button.join-btn:focus {
  background: #d95c5c;
}

button.join-btn:focus {
  outline: 1px solid #804949;
}

button.btn:active {
  transform: scale(0.99);
}
